# CMake and VS directories
s2e-aocs-core/CMakeBuilds/
.vs/

# Log files
s2e-aocs-core/data/logs/

# ExtLibraries
ExtLibraries/
src-core/ExtLibraries/
s2e-aocs-core/scripts/tmp_cspice/

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# Ubuntu/Docker
build/

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
